{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% if user.is_anonymous %}

    {% include 'welcome.html' %}

    {% include 'ourStore.html' %}

    {% include 'specialties.html'%}

    {% include 'menu.html'%}

    {% include 'events.html'%}

    {% include 'contact.html'%}

    {% include 'rodape.html'%}

  {% else %}

    {% include 'welcome.html' %}

    {% include 'teste.html' %}

    {% include 'ourStore.html' %}

    {% include 'specialties.html'%}

    {% include 'menu.html'%}

    {% include 'events.html'%}

    {% include 'contact.html'%}

    {% include 'rodape.html'%}

  {% endif %}


{% endblock%}