{% load static %}

     <section class="probootstrap-section probootstrap-bg-white" data-section="pedidos">
      <div class="container">
        <div class="row">
          <div class="col-md-5 text-center probootstrap-animate">
            <div class="probootstrap-heading dark">
              <h1 class="primary-heading">Delivery</h1><br><br>
              <h3 class="secondary-heading">Faça seu pedido</h3>
              <span class="seperator">* * *</span>
            </div>
            <p>Alimentação saudável em casa, no trabalho e onde você quiser!</p>
            <p><a href="https://api.whatsapp.com/send?phone=5569992765819" class="probootstrap-custom-link">WhatsApp</a></p>
          </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate">
            <p><img src="{% static 'img/img_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
