{% load static %}

     <section class="probootstrap-section probootstrap-bg-white" data-section="sobre_nos">
      <div class="container">
        <div class="row">
          <div class="col-md-5 text-center probootstrap-animate">
            <div class="probootstrap-heading dark">
              <h1 class="primary-heading">Panelinha</h1><br><br>
              <h3 class="secondary-heading">Sobre nós</h3>
              <span class="seperator">* * *</span>
            </div>
            <p>A Marmitaria Saudável Panelinha é uma empresa fabricante de refeições prontas que podem ser resfriadas ou congeladas,
                temos um controle rigoroso de qualidade atestado pela vigilância sanitária, nossa cozinha industrial é bem
                equipada para o preparo com toda a segurança alimentar que uma refeição deve ter. Tudo é preparado sem
                conservantes, ou temperos industrializados e com baixo teor de sódio, e nossas refeições são embaladas a
                vácuo e livre de BPA que aumenta sua durabilidade e preserva seu sabor, experimente!</p>
          </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate">
            <p><img src="{% static 'img/img.jpeg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
